body{
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin: 5%;
    
}
.myCard{
    padding: 30px;
    width: 115%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
}
form{
    display:flex;
    flex-direction:column;
}
.links{
    text-decoration: none;
}
label{
    margin: 10px;
    font-size: 0.8rem;
}
input{
    font-size: 0.2rem;
}
/* .submitButton{
    background-color: aqua;
    
    &:hover {background-color:#b47b84e0; color: white;}
} */

